<aside>
  <div class="header_container">

    <nav>
      <ul>
        <li><a href="{{ site.url }}">{{ site.title }}</a></li>
        <li><a href="{{ site.url }}/about/">About</a></li>
        <li><a href="{{ site.url }}/projects/">Projects</a></li>
        <li><a href="{{ site.url }}/teaching/">Teaching</a></li>
        <li><a href="{{ site.url }}/outreach/">Outreach</a></li>
        <li><a href="{{ site.url }}/misc/">Misc</a></li>
        <li><a href="{{ site.url }}/pdfs/cv_wuwong.pdf">CV</a></li>
      </ul>
    </nav>

    <!-- Dark mode toggle button -->
    <button
  id="theme-toggle-desktop"
  class="theme-toggle"
  aria-label="Toggle dark mode">
  <img src="{{ site.baseurl }}/images/moon-icon.svg" class="icon-moon" alt="Dark mode icon">
  <img src="{{ site.baseurl }}/images/sun-icon.svg" class="icon-sun" alt="Light mode icon">
</button>


  </div>
</aside>

<br><br>