<aside class="left-rail">
  <nav class="rail-nav">
    <ul>
      <li><a href="{{ site.url }}" {% if page.url == "/" %}class="active"{% endif %}>Home</a></li>
      <li><a href="{{ site.url }}/about/" {% if page.url contains "/about" %}class="active"{% endif %}>About</a></li>
      <li><a href="{{ site.url }}/projects/" {% if page.url contains "/projects" %}class="active"{% endif %}>Projects</a></li>
      <li><a href="{{ site.url }}/presentations/" {% if page.url contains "/presentations" %}class="active"{% endif %}>Presentations</a></li>
      <li><a href="{{ site.url }}/teaching/" {% if page.url contains "/teaching" %}class="active"{% endif %}>Teaching</a></li>
      <li><a href="{{ site.url }}/outreach/" {% if page.url contains "/outreach" %}class="active"{% endif %}>Outreach</a></li>
      <li><a href="{{ site.url }}/misc/" {% if page.url contains "/misc" %}class="active"{% endif %}>Misc</a></li>
      <li><a href="{{ site.url }}/pdfs/cv_wuwong.pdf">CV</a></li>
    </ul>
  </nav>
</aside>