$content-width: 1050px;
$main: #1f5798;
$font-style: 'Nunito Sans', sans-serif;
$font-color: #303030;
$link-color: #1f5798;
$link-hover-color: #A97758;
$link-visited-color: #8C6248;
$heading-font: 'DM Sans', sans-serif;
$heading-font-color: #1f5798;
$light: #F0F0F0;
$header: #EEF1F4;
$background-color: #FFFFFF;

$blockquote-color: #EEF1F4;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

